.App {
  text-align: center;
}



body {
  background-color: lightblue;
  
}

.bgimage {
  background-image: url("./art/img/Kettle3-1800x1200.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

input {
  border-radius: 5px;
  text-decoration: none;
  margin: 10px;
  border: none;
  padding: 5px;
}

.restaurant-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
}